{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>

<head>
<title>Foxclore</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url({% static 'images/demo/backgrounds/bgd.jpg' %});">
  <!-- ################################################################################################ -->
  <header id="header" class="hoc clear">
    <!-- ################################################################################################ -->

    
    <!-- ################################################################################################ -->
  </header>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <section id="navwrapper" class="hoc clear">
    <!-- ################################################################################################ -->

    <!-- ################################################################################################ -->

    <!-- ################################################################################################ -->
  </section>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
</div>






<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<div class="wrapper row3">
  <main class="hoc container clear">
    
    <!-- main body -->
    <!-- ################################################################################################ -->
    <section id="introblocks">
      <ul class="nospace group">
        {% for i in pg.object_list %}
       <li class="one_third">
          <figure><a class="imgover" href="{{i.get_url}}"><img src="{{i.img.url}}" alt=""style="height: 250;width: 300;"></a>
            <figcaption>
              <h6 class="heading">{{i.name}}</h6>
              <p>{{i.desc|truncatewords:17}}</p>
              <br>
              <!-- <p>Price: {{i.price}} Rs</p> -->
              
            </figcaption>
          </figure>
        </li>
{% endfor %}


        
      </ul>
    </section>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <center>
    {% for p in pg.paginator.page_range %}
      <a href="?page={{p}}" class="btn btn-light btn-sum {% if pg.number == p %} activaten {% endif %}">{{p}}</a>

    {% endfor %}  
    </center>
    <!-- <hr class="btmspace-80"> -->
    <div class="clear"></div>
  </main>
</div>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
</body>
{% endblock %}
